<section class="container covers">
  <h2 class="visually-hidden">Covers</h2>
  <div class="marquee">
    <div class="marquee-rect">
      <ul class="marqueeinner">
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-10-1x.webp"
            srcset="
              /img/covers/rectangle-10-1x.webp 1x,
              /img/covers/rectangle-10-2x.webp 2x
            "
            alt="Card PowerFull"
          />
        </li>
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-7-1x.webp"
            srcset="
              /img/covers/rectangle-7-1x.webp 1x,
              /img/covers/rectangle-7-2x.webp 2x
            "
            alt="Card Mimino"
          />
        </li>
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-8-1x.webp"
            srcset="
              /img/covers/rectangle-8-1x.webp 1x,
              /img/covers/rectangle-8-2x.webp 2x
            "
            alt="Card with ukrainian traditional clothes"
          />
        </li>
      </ul>
      <ul class="marqueeinner">
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-6-1x.webp"
            srcset="
              /img/covers/rectangle-6-1x.webp 1x,
              /img/covers/rectangle-6-2x.webp 2x
            "
            alt="Chego jewelery"
          />
        </li>
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-4-1x.webp"
            srcset="
              /img/covers/rectangle-4-1x.webp 1x,
              /img/covers/rectangle-4-2x.webp 2x
            "
            alt="Card energyfloo gym"
          />
        </li>
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-5-1x.webp"
            srcset="
              /img/covers/rectangle-5-1x.webp 1x,
              /img/covers/rectangle-5-2x.webp 2x
            "
            alt="Card fresh fruit box"
          />
        </li>
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-12-1x.webp"
            srcset="
              /img/covers/rectangle-12-1x.webp 1x,
              /img/covers/rectangle-12-2x.webp 2x
            "
            alt="Card englishExelent"
          />
        </li>
      </ul>
      <ul class="marqueeinner">
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-9-1x.webp"
            srcset="
              /img/covers/rectangle-9-1x.webp 1x,
              /img/covers/rectangle-9-2x.webp 2x
            "
            alt="Card organic vegetables"
          />
        </li>
        <li class="marqueeline">
          <img
            src="/img/covers/first-screen-1-1x.webp"
            srcset="
              /img/covers/first-screen-1-1x.webp 1x,
              /img/covers/first-screen-1-2x.webp 2x
            "
            alt="Card starlight studio"
          />
        </li>
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-11-1x.webp"
            srcset="
              /img/covers/rectangle-11-1x.webp 1x,
              /img/covers/rectangle-11-2x.webp 2x
            "
            alt="Card wallet"
          />
        </li>
      </ul>
      <ul class="marqueeinner">
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-4-1x.webp"
            srcset="
              /img/covers/rectangle-4-1x.webp 1x,
              /img/covers/rectangle-4-2x.webp 2x
            "
            alt="Card energyfloo gym"
          />
        </li>
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-5-1x.webp"
            srcset="
              /img/covers/rectangle-5-1x.webp 1x,
              /img/covers/rectangle-5-2x.webp 2x
            "
            alt="Card fresh fruit box"
          />
        </li>
        <li class="marqueeline">
          <img
            src="/img/covers/rectangle-12-1x.webp"
            srcset="
              /img/covers/rectangle-12-1x.webp 1x,
              /img/covers/rectangle-12-2x.webp 2x
            "
            alt="Card englishExelent"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
