<section class="projects">
  <div class="container">
    <!-- Слайдер -->
    <h2 class="project-title">Projects</h2>

    <ul class="swiper-wrapper">
      <li class="swiper-slide active">
        <div class="project-wrap">
          <div class="project-item">
            <ul class="project-tags-list">
              <li class="project-tags">#react</li>
              <li class="project-tags">#js</li>
              <li class="project-tags">#node js</li>
              <li class="project-tags">#git</li>
            </ul>
            <p class="project-desc">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/OleksiyPerepelyuk/project-webCoders"
              target="_blank"
            >
              <button class="project-btn">See project</button>
            </a>
          </div>
          <div class="project-picture">
            <picture class="project-img">
              <source
                srcset="
                  ../img/projects/proj-1-min.jpg   1x,
                  ../img/projects/proj-1-1-min.jpg 2x
                "
              />
              <img src="../img/projects/proj-1-min.jpg" alt="project 1" />
            </picture>
          </div>
        </div>
      </li>

      <li class="swiper-slide">
        <div class="project-wrap">
          <div class="project-item">
            <ul class="project-tags-list">
              <li class="project-tags">#react</li>
              <li class="project-tags">#js</li>
              <li class="project-tags">#node js</li>
              <li class="project-tags">#git</li>
            </ul>
            <p class="project-desc">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/OleksiyPerepelyuk/project-webCoders"
              target="_blank"
            >
              <button class="project-btn">See project</button>
            </a>
          </div>

          <div class="project-picture">
            <picture class="project-img">
              <source
                srcset="
                  ../img/projects/proj-2-min.jpg   1x,
                  ../img/projects/proj-2-1-min.jpg 2x
                "
              />
              <img src="../img/projects/proj-2-min.jpg" alt="project 2" />
            </picture>
          </div>
        </div>
      </li>

      <li class="swiper-slide">
        <div class="project-wrap">
          <div class="project-item">
            <ul class="project-tags-list">
              <li class="project-tags">#react</li>
              <li class="project-tags">#js</li>
              <li class="project-tags">#node js</li>
              <li class="project-tags">#git</li>
            </ul>
            <p class="project-desc">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/OleksiyPerepelyuk/project-webCoders"
              target="_blank"
            >
              <button class="project-btn">See project</button>
            </a>
          </div>
          <div class="project-picture">
            <picture class="project-img">
              <source
                srcset="
                  ../img/projects/proj-3-min.jpg   1x,
                  ../img/projects/proj-3-1-min.jpg 2x
                "
              />
              <img src="../img/projects/proj-3-min.jpg" alt="project 3" />
            </picture>
          </div>
        </div>
      </li>
    </ul>

    <button class="project-arrow prev">
      <svg class="project-icon" width="24" height="24">
        <use href=""></use>
      </svg>
    </button>

    <button class="next-arrow next">
      <svg class="project-icon" width="24" height="24">
        <use href=""></use>
      </svg>
    </button>
  </div>
</section>
