<section class="projects">
  <h2>Projects</h2>
  <div class="swiper-container">
    <!-- Слайдер -->
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div class="project-item">
          <div class="project-tags">
            <span>#react</span>
            <span>#js</span>
            <span>#node js</span>
            <span>#git</span>
          </div>
          <h3 class="project-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="project-btn">See project</button>
          <picture class="project-img">
            <source
              srcset="
                ../img/projects/proj-1-min.jpg   1x,
                ../img/projects/proj-1-1-min.jpg 2x
              "
            />
            <img src="../img/projects/proj-1-1-min.jpg" alt="project 1" />
          </picture>
        </div>
      </li>

      <li class="swiper-slide">
        <div class="project-item">
          <div class="project-tags">
            <span>#react</span>
            <span>#js</span>
            <span>#node js</span>
            <span>#git</span>
          </div>
          <h3 class="project-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="project-btn">See project</button>
          <picture class="project-img">
            <source
              srcset="
                ../img/projects/proj-2-min.jpg   1x,
                ../img/projects/proj-2-1-min.jpg 2x
              "
            />
            <img src="../img/projects/proj-2-1-min.jpg" alt="project 2" />
          </picture>
        </div>
      </li>

      <li class="swiper-slide">
        <div class="project-item">
          <div class="project-tags">
            <span>#react</span>
            <span>#js</span>
            <span>#node js</span>
            <span>#git</span>
          </div>
          <h3 class="project-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <button class="project-btn">See project</button>
          <picture class="project-img">
            <source
              srcset="
                ../img/projects/proj-3-min.jpg   1x,
                ../img/projects/proj-3-1-min.jpg 2x
              "
            />
            <img src="../img/projects/proj-3-1-min.jpg" alt="project 3" />
          </picture>
        </div>
      </li>
    </ul>

    <!-- Навігаційні стрілки -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
