<section class="projects" id="projects">
  <div class="project-container container">
    <h2 class="project-title">Projects</h2>
    <ul class="project-swiper-wrapper">
      <li class="project-swiper-slide active">
        <div class="project-wrap">
          <div class="project-item">
            <ul class="project-tags-list">
              <li class="project-tags">#react</li>
              <li class="project-tags">#js</li>
              <li class="project-tags">#node js</li>
              <li class="project-tags">#git</li>
            </ul>
            <p class="project-desc">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="project-btn"
              href="https://github.com/OleksiyPerepelyuk/project-webCoders"
              target="_blank"
            >
              See project
            </a>
          </div>
          <div class="project-picture">
            <picture class="project-img">
              <source
                srcset="
                  /img/projects/proj-1-min.jpg   1x,
                  /img/projects/proj-1-1-min.jpg 2x
                "
              />
              <img src="/img/projects/proj-1-min.jpg" alt="project 1" />
            </picture>
          </div>
        </div>
      </li>

      <li class="project-swiper-slide">
        <div class="project-wrap">
          <div class="project-item">
            <ul class="project-tags-list">
              <li class="project-tags">#react</li>
              <li class="project-tags">#js</li>
              <li class="project-tags">#node js</li>
              <li class="project-tags">#git</li>
            </ul>
            <p class="project-desc">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="project-btn"
              href="https://github.com/OleksiyPerepelyuk/project-webCoders"
              target="_blank"
            >
              See project
            </a>
          </div>

          <div class="project-picture">
            <picture class="project-img">
              <source
                srcset="
                  /img/projects/proj-2-min.jpg   1x,
                  /img/projects/proj-2-1-min.jpg 2x
                "
              />
              <img src="/img/projects/proj-2-min.jpg" alt="project 2" />
            </picture>
          </div>
        </div>
      </li>

      <li class="project-swiper-slide">
        <div class="project-wrap">
          <div class="project-item">
            <ul class="project-tags-list">
              <li class="project-tags">#react</li>
              <li class="project-tags">#js</li>
              <li class="project-tags">#node js</li>
              <li class="project-tags">#git</li>
            </ul>
            <p class="project-desc">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="project-btn"
              href="https://github.com/OleksiyPerepelyuk/project-webCoders"
              target="_blank"
            >
              See project
            </a>
          </div>
          <div class="project-picture">
            <picture class="project-img">
              <source
                srcset="
                  /img/projects/proj-3-min.jpg   1x,
                  /img/projects/proj-3-1-min.jpg 2x
                "
              />
              <img src="/img/projects/proj-3-min.jpg" alt="project 3" />
            </picture>
          </div>
        </div>
      </li>
    </ul>
    <div class="button-arrow">
      <button class="project-arrow prev disabled">
        <svg class="project-icon disabled" width="24" height="24">
          <use href="/img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>

      <button class="project-arrow next disabled">
        <svg class="project-icon disabled" width="24" height="24">
          <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
