<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-header">Reviews</h2>
    <div class="swiper reviews-swiper">
      <ul class="swiper-wrapper" id="reviews-list"></ul>
      <div class="buttons-reviews">
        <button class="swiper-button-prev" id="prev">
          <svg class="reviews-icon disabled" width="24" height="24">
            <use href="/img/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <button class="swiper-button-next" id="next">
          <svg class="reviews-icon disabled" width="24" height="24">
            <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
