.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding-top: 32px;
  padding-left: 16px;
  min-width: 320px;
  align-items: start;
}

.header-navigation {
  display: none;

}


.header-logo {
  display: flex;
  gap: 8px;
  text-decoration: none;
}

.span-text {
  color: black;

}

.order-btn {
  display: none;

}

.burger-btn {
  background: none;
  border: none;


}

.icon {
  stroke: #0c0c0c;
}



@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    padding-top: 32px;
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;


  }

  .order-btn {
    border-radius: 60px;
    padding: 18px 24px;
    background: #ed3b44;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    align-self: flex-start;


  }

  .header-burger {
    display: none;
  }

  .header-navigation {
    display: block;
    display: flex;
  }

  .menu-btn {
    border: none;
    background: none;
    align-self: flex-start;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
  }
}